<h3>Редактировать</h3>

<!--<a href="/posts/<%#= @todo.id %>/delete">Удалить страницу</a><br><br>-->
<form action="/posts/<%= @todo.id %>" method="post">
  <input name="_method" type="hidden" value="patch"/>
  <label for="title"><strong>Название:</strong></label><br>
  <input id="title" type="title" name="title"  value="<%= @todo.title%>">
  <br>
  <label for="body"><strong>Тело страницы:</strong></label><br>
  <textarea id="body" name="body" style="height: 250px;"><%= @todo.body%> </textarea>

  <br>
  <input type="submit" value="Edit">
</form>
<form action="/posts/<%= @todo.id %>" method="post">
  <input name="_method" type="hidden" value="delete"/>
  <br>
  <input type="submit" value="delete">
</form>


